/* Coolors Exported Palette - coolors.co/eac435-345995-03cea4-fb4d3d-ca1551 */


/* RGB */
$yellow: rgb(218, 193, 103);
$blue: rgba(52, 89, 149, 1);
$green: rgb(3, 206, 164);
$orange: rgba(251, 77, 61, 1);
$red: rgba(202, 21, 81, 1);
$black: #363B46;